/*Formatação geral*/
body{
    font-family: 'Sora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background: #f7f7f7;
}
header{
  position: absolute;
  z-index: 2; 
  width: 100%;
}

/*--CAROUSEL--*/
#carouselBiotechFade {
  height: 800px;
  overflow: hidden;
}

#carouselBiotechFade .carousel-inner,
#carouselBiotechFade .carousel-item {
  height: 100%;
}

#carouselBiotechFade img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.purple-opacity{
  background: rgba(78, 30, 112, 0.7); 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  z-index: 2;
}

.carousel-caption{
  z-index: 3;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-caption h1{
  font-size: 6em;
}
.carousel-caption p{
  font-weight: 200;
  font-size: 2em;
}

@media (max-width: 768px){
  #carouselBiotechFade{
    height: 600px;
  }
  .carousel-caption h1{
    font-size: 4.5em;
  }
  .carousel-caption p{
    font-weight: 200;
    font-size: 1em;
  }
}
@media (max-width: 480px){
  .carousel-caption h1{
    font-size: 3em;
  }
  .carousel-caption p{
    font-weight: 200;
    font-size: 1em;
  }
}
  
/*--NAVBAR--*/
/* background roxo com hover*/
.navbar{
  background-color: transparent;
  width: 100%;
}
.navbar:hover{
  background-color: #471477;
  transition: 0.5s;
} 
/*efeito da barra azul ao passar o mouse*/
 .navbar .nav-link {
  color: #fff;
  margin: 0 5px;
  display: block;
  background: linear-gradient(aquamarine, aquamarine);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 2px;
  transition: background-size 1s ease;
}
.navbar .nav-link:hover{
  animation: linha 1.3s forwards;
} 
/* animação vindo da esquerda para direita */
@keyframes linha{
  from{
      background-size: 25% 2px;
      background-position: left bottom;
  }

  to {
        background-size: 100% 2px;
        background-position: left bottom;
  }
}

/*--Section - Sobre eventos--*/

#subtitulo{
    font-weight: bold;
}
#titulo-evento{
    font-weight: bold;
}
.sobre {
  background-color: #f5f5f5;
}

.card-box {
  background: #e9e6ef;
  border-radius: 6px;
  transition: 0.3s ease;
}
.card-box:hover {
  transform: translateY(-5px);
}
.icon-circulo {
  width: 70px;
  height: 70px;
  background: #8A2BE2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;

  display: flex;
  justify-content: center;
  margin:auto;
}
.icon-circulo i{
  color: white;
  font-size: 30px;
}

