/*Formatação geral*/
body{
    font-family: 'Sora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background: #f7f7f7;
}

/*Carrosel*/
#carouselBiotechFade {
  height: 800px;
  overflow: hidden;
}

#carouselBiotechFade .carousel-inner,
#carouselBiotechFade .carousel-item {
  height: 100%;
}

#carouselBiotechFade img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px){
  #carouselBiotechFade{
    height: 600px;
    border: 1px solid red;
  }
}

