body{
    background: black;
}

h1 {
    color: #fff;
    font-weight: bold;
    font-size: 200px;
}

h2{
    color: aqua;
    font-weight: bold;
    font-size: 200px;
}

h3{
   color: red;
    font-weight: bold;
    font-size: 200px;  
}