/*Formatação geral*/
body{
    font-family: 'Sora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background: #f7f7f7;
}
header{
  position: absolute;
  z-index: 2; 
  width: 100%;
}

/*--CAROUSEL--*/
#carouselBiotechFade {
  height: 800px;
  overflow: hidden;
}

#carouselBiotechFade .carousel-inner,
#carouselBiotechFade .carousel-item {
  height: 100%;
}

#carouselBiotechFade img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.purple-opacity{
  background: rgba(78, 30, 112, 0.7); 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  z-index: 2;
}

.carousel-caption{
  z-index: 3;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-caption h1{
  font-size: 6em;
}
.carousel-caption p{
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 2em;
}
.carousel-caption .btn {
  background-color: rgb(152, 16, 150);
  border: none;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgb(56, 55, 58);;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.carousel-caption .btn:hover{
  background-color: rgb(130, 0, 219);
  transform: scale(1.1);
}

@media (max-width: 768px){
  #carouselBiotechFade{
    height: 600px;
  }
  .carousel-caption h1{
    font-size: 4.5em;
  }
  .carousel-caption p{
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 1em;
  }
}
@media (max-width: 480px){
  .carousel-caption h1{
    font-size: 3em;
  }
  .carousel-caption p{
    font-weight: 200;
    font-size: 1em;
  }
}
  
/*--NAVBAR--*/
/* background roxo com hover*/
.navbar{
  background-color: transparent;
  width: 100%;
}
.navbar:hover{
  background-color: #471477;
  transition: 0.5s;
} 
/*efeito da barra azul ao passar o mouse*/
 .navbar .nav-link {
  color: #fff;
  margin: 0 5px;
  display: block;
  background: linear-gradient(aquamarine, aquamarine);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 2px;
  transition: background-size 1s ease;
}
.navbar .nav-link:hover{
  animation: linha 1.3s forwards;
} 
/* animação vindo da esquerda para direita */
@keyframes linha{
  from{
      background-size: 25% 2px;
      background-position: left bottom;
  }

  to {
        background-size: 100% 2px;
        background-position: left bottom;
  }
}

/*--Parallax--*/
.parallax{
  background-image: url(./assets/background-parallax.jpg);
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

/*--COUNTDOWN--*/
#section-countdown{
  background: #353535;
  display: flex;
  align-items: center;
  height: 400px;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
#countdown{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#section-countdown h2{
  color: #ebe6eb;
  line-height: 2em;
  font-size: 4em;
}
#section-countdown p{
  margin: 50px auto;
  font-size: 3em;
  font-weight: bold;
}
#faixa-countdown{
  background: #ebe6eb;
  border-radius: 10px;
}

@media (max-width: 768px){
  #section-countdown h2{
    line-height: 2em;
    font-size: 3em;
  }
  #section-countdown p{
    margin: 30px auto;
    font-size: 2em;
    font-weight: bold;
  }
}


/*--Section - Sobre eventos--*/
#subtitulo, #titulo-evento{
  font-weight: bold;
}
.sobre {
  background-color: #f5f5f5;
}

.card-box {
  background: #e9e6ef;
  border-radius: 6px;
  transition: 0.3s ease;
}
.card-box:hover {
  transform: translateY(-5px);
}
.icon-circulo {
  width: 70px;
  height: 70px;
  background: #8A2BE2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;

  display: flex;
  justify-content: center;
  margin:auto;
}
.icon-circulo i{
  color: white;
  font-size: 30px;
}

/* menu programação */
.card-prog{
  background: #e9e6ef;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 40px;
}

/* header */
.header-prog{
  background: linear-gradient(90deg, #8A2BE2, #471477);
  padding: 20px;
}

/* items da programação */
/* background da lista da prog com hover */
.card-prog .d-flex{
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.card-prog .d-flex:hover{
  background-color: #dfdce4;
  transform: translateX(5px);
  cursor: pointer;
}

/* horario */
.horario-icon{
  color: #8A2BE2;
  font-size: 20px;
}

.horario {
  color: #8A2BE2;
  font-weight: 700;
  margin-right: 10px;
}

.badge-custom{
  display: flex;
  background: #d4c7f1;
  color: #890ec2;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 4px;
}



/* cards dos palestrantes */
/* titulo e subtitulo palestrantes */
.titulo-palestrantes {
  font-size: 50px;
  font-weight: bold;
}

.subtitulo-palestrantes {
  font-weight: bold;
  font-size: 18px;
}

/* decoration do card dos palestrantes */
.card-palestrante {
  border-radius: 15px;
  transition: 0.5s ease;
  background: #fff;
}

/* imagem que ainda sera adicionada */
.card-palestrante img {
  height: 250px;
  object-fit: cover;
}

.card-palestrante:hover {
  transform: translateY(-8px);
}


.card-palestrante h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* descrição dos palestrantes ainda deve ser modificada */
.graduacao {
  color: #7c3aed;
  font-size: 14px;
  font-weight: 500;
}


.descricao {
  color: #555;
  margin-top: 10px;
}
/* fim do card dos palestrantes */