/*Formatação geral*/
body{
    font-family: 'Sora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background: #f7f7f7;
}
<<<<<<< Updated upstream

header{
  position: absolute;
  z-index: 10; 
  width: 100%;
}

/*--CAROUSEL--*/
#carouselBiotechFade {
  height: 800px;
  overflow: hidden;
}

#carouselBiotechFade .carousel-inner,
#carouselBiotechFade .carousel-item {
  height: 100%;
}

#carouselBiotechFade img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px){
  #carouselBiotechFade{
    height: 600px;
    border: 1px solid red;
  }
}

.purple-opacity{
  background: rgba(78, 30, 112, 0.7); 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  z-index: 10;
}

/*--NAVBAR--*/
/* background roxo com hover */
#background{
  background-color: transparent;
  width: 100%;
}

#background:hover{
  background-color: #471477;
  transition: 0.5s;
}

/* efeito da barra azul ao passar o mouse*/
#background .nav-link {
  color: #fff;
  margin: 0 5px;  
  display: block;
  background: linear-gradient(aquamarine, aquamarine);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 2px;
  transition: background-size 1s ease;
}

#background .nav-link:hover{
  animation: linha 1.3s forwards;
}


/* animação vindo da esquerda para direita */
@keyframes linha{
  from{
      background-size: 25% 2px;
      background-position: left bottom;
  }

  to {
        background-size: 100% 2px;
        background-position: left bottom;
  }
}

#test{
    
}

#subtitulo{
    font-weight: bold;
}

#titulo-evento{
    font-weight: bold;
}
.sobre {
  background-color: #f5f5f5;
}

.card-box {
  background: #e9e6ef;
  border-radius: 6px;
  transition: 0.3s ease;
}

.card-box:hover {
  transform: translateY(-5px);
}

.icon-circulo {
  width: 70px;
  height: 70px;
  background: #8A2BE2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;

  display: flex;
  justify-content: center;
  margin:auto;
}


.icon-circulo i{
    color: white;
    font-size: 30px;
}
=======
/* background roxo com hover */
#background{
background-color: transparent;
width: 100;

}

#background:hover{
    background-color: #8A2BE2;
    transition: 1.3s;
}


/* efeito da barra azul ao passar o mouse*/
#background .nav-link {
    color: black;
    padding: 8px 15px;

    background: linear-gradient(aquamarine, aquamarine);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 2px;
    transition: background-size 1s ease;
   
}

#background .nav-link:hover{
    animation: linha 1.3s forwards;
}
/* animação vindo da esquerda para direita */
@keyframes linha{
    from{
        background-size: 15% 2px;
        background-position: left bottom;
    }

    to {
         background-size: 90% 2px;
         background-position: left bottom;
    }
}

>>>>>>> Stashed changes
