/*Formatação geral*/
body{
    font-family: 'Sora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background: #f7f7f7;
}

/*Carrosel*/
#carouselBiotechFade {
  height: 800px;
  overflow: hidden;
}

#carouselBiotechFade .carousel-inner,
#carouselBiotechFade .carousel-item {
  height: 100%;
}

#carouselBiotechFade img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px){
  #carouselBiotechFade{
    height: 600px;
    border: 1px solid red;
  }
}


/* background roxo com hover */
#background{
background-color: transparent;
width: 100;

}

#background:hover{
    background-color: #8A2BE2;
    transition: 1.3s;
}


/* efeito da barra azul ao passar o mouse*/
#background .nav-link {
    color: black;
    padding: 8px 15px;

    background: linear-gradient(aquamarine, aquamarine);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 2px;
    transition: background-size 1s ease;
   
}

#background .nav-link:hover{
    animation: linha 1.3s forwards;
}
/* animação vindo da esquerda para direita */
@keyframes linha{
    from{
        background-size: 15% 2px;
        background-position: left bottom;
    }

    to {
         background-size: 90% 2px;
         background-position: left bottom;
    }
}

